body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0b284a !important;
  
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.fadeIn {
  -webkit-animation: fadein 1.1s; /* Safari, Chrome and Opera > 12.1 */
	 -moz-animation: fadein 1.1s; /* Firefox < 16 */
	  -ms-animation: fadein 1.1s; /* Internet Explorer */
	   -o-animation: fadein 1.1s; /* Opera < 12.1 */
		  animation: fadein 1.1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}




.disableSelection {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


.reduceOpacityOnHover:hover {
	opacity: 0.8;
}


@media screen and (max-width: 575px) {
	.hideOnSmallScreens {
		display: none !important;
	}
}




#particlePlane {
  background: transparent;
  z-index: -10;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -ms-webkit-filter: blur(6px);
  -moz-webkit-filter: blur(6px);
  -khtml-webkit-filter: blur(6px);
}



.info-box {
	color: black;
	font-family: Raleway, Arial;
}


.iconLink {
	padding: 5px;
	color: black !important;
}
.iconLink:-webkit-any-link {
	color: black !important;
}
.iconLink:hover {
	color: #204875  !important;
}



.info-box-text-container.outer {
	background-color: #adb6c2;
}



@media screen and (max-width: 575px) {
	.info-box {
		margin: 25px;
	}

	.info-box-text-container.outer {
		border-radius: 5px;
		padding: 40px;
	}
}

@media screen and (max-width: 1300px) {

	.info-box-content-overlay {
		text-align: center;
		margin-top: 25px;
	}
	
	.info-box-content-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
	}
	
	.info-box-content-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 575px) and (max-width: 1300px)  {
	.info-box {
		margin: 50px;
	}

	.info-box-text-container.outer {
		border-radius: 5px;
		padding: 50px;
	}
}

@media screen and (min-width: 1300px) {
	.info-box {
		margin: 100px;
		width: 75%;
	}

	.info-box-text-container.outer {
		border-radius: 25px;
		padding: 75px;
	}


	.info-box:nth-child(2n+0) {
		text-align: right;
		float: right;
	}

	.info-box:nth-child(2n+0) .info-box-text {
		margin-left: 35%;
	}

	.info-box:nth-child(2n+0) .info-box-text-container.outer {
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		transform: skew(-15deg);
	}

	.info-box:nth-child(2n+0) .info-box-text-container.inner {
		-webkit-transform: skew(15deg);
		-moz-transform: skew(15deg);
		transform: skew(15deg);
	}


	.info-box:nth-child(2n+1)  {
		text-align: left;
		float: left;
	}

	.info-box:nth-child(2n+1) .info-box-text {
		max-width: 65%;
	}


	.info-box:nth-child(2n+1) .info-box-text-container.outer {
		-webkit-transform: skew(15deg);
		-moz-transform: skew(15deg);
		transform: skew(15deg);
	}

	.info-box:nth-child(2n+1) .info-box-text-container.inner {
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		transform: skew(-15deg);
	}



	.info-box-content-overlay {
		position: relative;
		top: 0px;
		left: 0px;
		z-index: 1;
	}

	.info-box-content-container {
		position: absolute;
		top: -350px;
		padding: 15px;
		padding-bottom: 8px;
		background-color: rgba(3, 119, 252, 0.8);
		border-radius: 15px;
	}

	.info-box:nth-child(2n+0) .info-box-content-container {
		left: -300px;
	}

	.info-box:nth-child(2n+1) .info-box-content-container {
		right: -300px;
	}
	
	.info-box-content-container iframe {
		width: 576px;
		height: 324px !important;
	}
}